<!DOCTYPE html>
<html>
  <head>
    <title>Express App</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
      </ul>
    </nav>
    <p style="color: blue; background-color: goldenrod">This is my homepage</p>
  </body>
</html>
